/* Geral */

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

/* body */

body {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

body h1 {
  margin: -200px 0 200px 0;
  font-size: 60px;
}

body h1.active {
  color: #fff;
}

body img {
  width: 86.31px;
  height: 86.31px;

  margin: 10px;
}

.background-div {
  background-color: #000;
}

.background {
  background-color: #292c35;
}

.container {
  display: flex;
  gap: 35.69px;
  border-radius: 50px;

  position: relative;
}

.write-div {
  width: 86.31px;
  height: 86.31px;

  margin: 10px;

  background-color: #fff;
  border-radius: 50px;

  position: absolute;
  transform: translate3d(0, 0, 0);
  transition: 0.3s;
}

.write-div.active {
  transform: translate3d(140px, 0, 0);
  transition: 0.3s;
}

.write-div:hover {
  cursor: pointer;
}

@media (max-width: 251px) {
  body .container {
    display: block;
  }

  body h1 {
    margin: -100px 0 200px 0;
    font-size: 30px;
  }

  .write-div {
    transform: translate3d(0, -110px, 0);
    transition: 0.3s;
  }

  .write-div.active {
    transform: translate3d(0, -10px, 0);
    transition: 0.3s;
  }
} ;
